.app-content {
  width: 100%;
}
.app-content .btn-create-hotspot {
  border-radius: 56px;
  background-color: #0cc4c8;
  border: none;
  color: #fff;
  padding: 2px 16px;
  font-size: 28px;
  text-align: center;
  min-height: 36px;
  margin: 72px 0;
}
.btn-create-hotspot:hover {
  background-color: #0cc4c8b8;
}
.app-content .hotspot-title {
  font-size: 24px;
  background: #eee;
  color: #bbb;
  font-weight: 500;
  padding: 4px 16px;
  text-align: left;
}
.app-content .hotspot-list {
  width: 100%;
}
.app-content .hotspot-list .row {
  padding: 12px 0;
  border-bottom: 2px solid #eee;
}
.app-content .hotspot-list .name {
  font-size: 20px;
  font-weight: 400;
  color: #bbb;
  text-align: left;
}
.app-content .hotspot-list .btn-delete {
  font-size: 20px;
  text-decoration: underline;
  text-align: right;
}
