.hotspot-cmp .hotspot {
  width: 28px;
  height: 28px;
  border: 2px solid red;
  border-radius: 100%;
  padding: 2px;
  opacity: 0.5;
  position: absolute;
  z-index: 9;
}
.hotspot-cmp .hotspot .round-inner {
  background: red;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.hotspot-cmp .content {
  display: none;
  position: absolute;
  z-index: 9;
  width: 300px;
  box-shadow: 0px 1px 10px 0px #dedede;
  background: #fff;
  border-radius: 8px;
  padding: 24px;
}
.hotspot-cmp .form-register {
  position: absolute;
  text-align: left;
  z-index: 9;
  width: 300px;
  box-shadow: 0px 1px 10px 0px #dedede;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
}
.hotspot-cmp .form-register .form-control {
  font-size: 0.8rem;
}
.hotspot-cmp .form-register textarea {
  resize: none !important;
}
.hotspot-cmp .form-register .btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.hotspot-cmp .content h3 {
  text-align: left;
}
.hotspot-cmp .content .description {
  color: #bbb;
  text-align: left;
}
.hotspot-cmp:hover > .content {
  display: block;
}
